// Mixing CommonCode
@mixin commoncode {
    font-size: clamp(1rem, 10vw, 1vw);
    font-weight: bold;
    padding-top: 1rem;
    margin: 0;
    word-spacing: 4px;
    line-height: 1.3;
    color: black;
    margin-bottom: 1rem;
}
